@import '../../scss/vars.scss';

dialog:modal {
  max-width: 100vw;
  max-height: 100vh;
  border: none;
}


.modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  &::backdrop {
    display: none;
  }
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($black, 0.8);
  animation: activeModal 1s linear forwards;
  transition: background-color 1s ease-in;
}

.btn {
  position: absolute;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 1px 28px;
  background-color: rgba($white, 0.7);
  transition: background-color 0.3s ease-in;
  top: 0;
  right: 0;
  &:hover {
    background-color: rgba(red, 0.7);
    svg {
      transition: stroke 0.3s ease-in;
      stroke: $white;
    }
  }
  svg {
    width: 30px;
    height: 30px;
  }
}

.download {
  right: 86px;
}

.photo {
  max-width: 600px;
  width: 100%;
  height: auto;
}
img {
  width: 100%;
  height: auto;
}


@keyframes activeModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

