
@import '../../scss/vars.scss';


.newPerson {
  // margin-right: 2%;
  // border-radius: 20px 20px 0 0;
  // display: block;
  // width: 34%;
  border-radius: 20px 20px 0 0;
  background-color: $accent;
}

.newPersonDark {
  background-color: rgba($white, .3);
  color: $accent;
}

.info {
  // margin-top: -20px;
  border-radius: 20px 20px 0 0;
  padding: 16px;
  background-color: $grey;
}

.item {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid $accent;
  color: rgba($accent, .7);
  outline: transparent;
  transition: box-shadow 0.3s ease-in, border-color 0.3s ease-in;
  &:focus {
    border-color: rgba($accent, .7);
    box-shadow: 2px 2px 10px $accent;
  }

  &::placeholder {

  }
}

.btn {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  background-color: $accent;
  color: $white;
  transition: box-shadow 0.3s ease-in;
  &:hover {
    box-shadow: 2px 2px 10px $accent;
  }
}


