@import '../../scss/vars.scss';

.home {
  padding-bottom: 40px;
}

.inner {
  display: flex;
  align-items: start;
  padding-top: 50px;
  @media (max-width: 719px) {
    flex-direction: column;
  }
}

.left {
  margin-right: 2%;
  border-radius: 20px 20px 0 0;
  display: block;
  width: 34%;
  @media (max-width: 991px) {
    width: 310px;
    flex-shrink: 0;
  }
  @media (max-width: 719px) {
    margin-right: 0;
    margin-bottom: 16px;
    width: 100%;
  }
}

.btn {
  background-color: $accent;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  svg {
    fill: white;
    stroke: white;
    width: 30px;
    height: 30px;
  }
}


