@import '../../scss/vars.scss';

.header {
  padding: 15px 0;
  background-color: inherit;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0 14px;
  border-radius: 12px;
  border: 1px solid $accent;
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease-in;
  &:hover {
    background-color: $accent;
    color: $white;
    svg {
      fill: $white;
      stroke: $white;
    }
  }
  svg {
    width: 22px;
    height: 22px;
    margin: 0 3px;
    fill: $accent;
    stroke: $accent;
    transition: fill .3s ease-in;
  }
}



.title {
  font-weight: 600;
  font-size: 32px;
  @media (max-width: 719px) {
    font-size: 20px;
    text-transform: uppercase;
  }
}

.text {
  @media (max-width: 719px) {
    display: none;
  }
}